.navigation__bar {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 5px outset steelblue;

    &--logo {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
            font-size: 27px;
        }
    }
    &--items {
        font-size: 20px;
        font-weight: bold;
        list-style: none;
        display: flex;
        flex-direction: center;
        flex-wrap: wrap;
        padding: 0;
        gap: 40px;

        a:link, a:visited {
            text-decoration: none;
          }

        a {
            color: black;
        }
           
    }
}