.navigation__bar {
<<<<<<< HEAD
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background: linear-gradient(to bottom, #ff8a00, #ff2b4a);
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.3s ease;

  &--logo {
    img {
      margin-right: 10px;
    }
  }

  &--items {
    list-style: none;
=======
    padding: 0 20px;
>>>>>>> feature/juan
    display: flex;
    align-items: center;

<<<<<<< HEAD
    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.3s ease;
=======
    &--logo {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
            font-size: 27px;
        }
    }
    &--items {
        font-size: 20px;
        font-weight: bold;
        list-style: none;
        display: flex;
        flex-direction: center;
        flex-wrap: wrap;
        padding: 0;
        gap: 40px;
>>>>>>> feature/juan

        &:hover {
          color: #ffc107;
        }
      }
    }
  }
}
