html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}
*:after,
*::before {
  box-sizing: inherit;
}
input[type="text"] {
  border: thin solid #000;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background: #ede574; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e1f5c4,
    #ede574
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e1f5c4,
    #ede574
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
input[type="number"] {
  border: thin solid #000;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background: #ede574; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e1f5c4,
    #ede574
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e1f5c4,
    #ede574
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
input[type="email"] {
  border: thin solid #000;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background: #ede574; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e1f5c4,
    #ede574
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e1f5c4,
    #ede574
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body {
  background: #bbd2c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #536976,
    #bbd2c5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #536976,
    #bbd2c5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}
button,
input[type="submit"],
input[type="reset"] {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
  display: inline-block;
  background-color: #30336b;
  color: #fff;

  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
form {
  margin-bottom: 2rem;
}
hr {
  margin: 2rem auto;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
th {
  background: #212627;
  color: #fff;
}
th,
td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: thin solid #dedede;
}

@media screen and (min-width: 1024px) {
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 3rem;
  }
}
